@import './toolbar.scss';
:root {
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;

  --color-primary: #333;
  --color-secondary: #666;
  --color-tertiary: #999;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font: 16px/1.5 'Roboto', sans-serif;
  color: var(--color-primary);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#app{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
canvas {
  position: relative;
  display: block;
}
// CAD STYLES
#position{
  position: fixed;
  bottom: var(--font-size-h3);
  left: var(--font-size-h3);
  z-index: 1;
}

#nav{
  position: fixed;
  padding:10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background: #0005; 
}

#nav div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #fff5;
  color: #fff;
  cursor: pointer;
}

#nav div div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #fff5;
  color: #f30;
  cursor: pointer;
}

#nav div div:hover{
  background: #fff;
  color: #f30;
}