:root {
    --main-bg-color: #36393f;
    --secondary-bg-color: #2f3136;
    --border-color: #202225;
    --text-color: #b9bbbe;
    --font-size: 20px;
    --line-height: 50px;
}

#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-bg-color);
    z-index: 1;
    flex-direction: row;

    .group {
    align-items: center;
    background-color: var(--secondary-bg-color);
    border-radius: 0.5rem;
    flex-direction: column;
        .group-name {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: var(--font-size);
            font-weight: bold;
            color: var(--text-color);
        }
    }

    .tools {
        display: flex;
        gap: 0.5rem;

        .tool {
            display: flex;
            font-size: var(--font-size);
            cursor: pointer;
            color: var(--text-color);
            padding: 0.5rem;

            &:hover {
                background-color: var(--border-color);
            }
        }
    }
}
